@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.home-body {
    font-family:'Roboto';
    font-weight:300;
}

a, button, .clickable {
    cursor: pointer;
}

.home-welcome-page {
    position: relative;
}


.background-home {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
    filter: blur(1px);
}

.home-welcome-page-content {
    margin-left : 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-welcome-page-content h1 {
    font-size:36px;
    background-color: white;
}

.home-welcome-page-content-p {
    font-size:24px;
    background-color: white;
}

.welcome-page-buttons{
    display: flex;
    align-items: center;
    margin-top : 50px;
    gap : 50px;
}

.welcome-page-button {
    height : 25px;
    padding : 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.github-logo {
    width:25px;
    height:25px;
}

.home-about {
    min-height: 100vh;
    display: flex;
    overflow: visible;
}

.about-photo-container {
    margin-top : 80px;
    width : 25%;
}

.photo-me {
    position: relative;
    height: 100%;
    width : 100%;
    object-fit: cover;
}

.home-about-content {
    display : flex;
    flex-direction: column;
    margin-top : 80px;
    width : 74%;
    margin-left : 1%;
}

.home-about-title, .home-about-links {
    display: flex;
    align-items: center;
}

.links-logo {
    width : 50px;
    justify-self: center;
}

.home-about-content-interests {
    display: flex;
}

.home-about-content-interests div {
    width : 50%;
}

.home-services {
    height: 100vh;
    display : flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(354, 70%, 90%);
}

.home-services-content {
    margin-top : 80px;
    min-width : 600px;
    max-width : 1000px;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-logo-container{
    display: flex;
    justify-content: space-between;
    margin:auto;
    width : 80%;
}

.services-logo {
    width : 20%;
    object-fit: cover; 
}

.home-portfolio {
    height: 100vh;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.home-portfolio-content {
    margin-top : 80px;
    width: 96%;
    display :flex;
    flex-direction: column;
    align-items: center;
}

.home-portfolio-projects {
    width : 100%;
    display: flex;
    gap : 5%;
}

.portfolio-github-link {
    display: flex;
    margin-top : 50px;
    align-items: center;
    gap : 10px;
}

.home-contact {
    height: 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(354, 70%, 90%);
}

.home-contact-content {
    margin-top : 80px;
    width: 96%;
    display :flex;
    align-items: center;
}

.contact-linkedin {
    display:flex;
}