.collapse-title {
    color: white;
    align-self: center;
}

.collapse-header {
    display: flex;
    height: 34px;
    padding: 10px 15px 10px 15px;


    background: #FF6060;
    justify-content: space-between;
    align-content: center;

    border-radius: 5px;
}

.collapse {
    width: 300px; /* Largeur initiale fermée */
    overflow: hidden;
    border-radius: 5px;
}
  
.collapse.open {
    width: 100%; /* Largeur maximale ouverte */
}

.collapse-header img {
    height : 14px;
    align-self: center;
    cursor: pointer;
}

.collapse-content {
    background: #F7F7F7;
    padding: 10px 15px 10px 15px;
    border-radius: 0 0 5px 5px;
    max-height: 0;
    opacity: 0;

    overflow: hidden;
}

.collapse.open .collapse-content {
    max-height: 1000px; /* Hauteur maximale ouverte */
    opacity: 1;
}

.collapse-paragraph {
    margin-top : 10px;
    margin-bottom : 10px;
}

.fa-minus, .fa-plus {
    color: white;
    align-self: center;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {
    .collapse-header img {
        height : 8px;
    }

    .collapse-header {
        height : 13px;
    }

    .collapse-content {
        font-size : 12px;
    }
}